.vscode/**
.vscode-test/**
.github/**
coverage/**
out/test/**
out/test-jest/**
image/**
snippets/styra-common.yaml

.gitignore
.yarnrc
cspell.json
Makefile
packaging/**
src/**
START_HERE.md
vsc-extension-quickstart.md
*.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
