.vscode/**
.vscode-test/**
.github/**
out/test/**
out/test-jest/**
startup-flow.png

.gitignore
.yarnrc
cspell.json
Makefile
packaging/**
src/**
vsc-extension-quickstart.md
*.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
