.vscode
.github
coverage
node_modules
packaging
src
image
**/*.map
**/*.ts
*.config.js
.gitignore
Makefile
snippets/styra-common.yaml

out/**
!out/main.js

*.md
!README.md
!CHANGELOG.md
!SUPPORT.md

*.json
!package.json
